{% extends 'vampire/base.html' %}
{% block content %}
{% load bootstrap3 %}
{% include 'vampire/logged_in_hospital_navbar.html' %}

<style>
    .btn#register{
        border: 1px solid #efefef;
        background-color: rgba(0, 0, 0, 0);
        color: #ffffff;
    }

    .btn:hover {
        background-color: rgba(255, 255, 255, 1);

    }
</style>

<div id="wrap">
    <div class="login-container">
        <h1 class="page-header">
            Blood Request  for {{request.session.hospital_name}}
        </h1>

        <form method="POST" class="post-form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "send" %} Blood Request
            </button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% include 'vampire/footer.html' %}

{% endblock %}