{% extends 'vampire/base.html' %}
{% block content %}

<div id="wrap">
    <div class = "hospital-container">
        <div class="page-header">
            <h1>
                Hospital
            </h1>
        </div>

        <p class="lead">
            Wish to join the ranks of hospitals that access our world-class
            Blood Bank facilites?
        </p>

        <div class="login-register-container">
            <button type="button" class="btn btn-default register-btn" onclick="location.href='{% url 'hospital_register' %}'">Register a Hospital</button>
        </div>
    </div>


    <div class = "hospital-container">
        <div class="page-header">
            <h1>
                Donor
            </h1>
        </div>

        <p class="lead">
            Want to become a registered blood bank to gain access to our network?
        </p>

        <div class="login-register-container">
            <button type="button" class="btn btn-default register-btn"> Register a Blood Bank</button>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <p class="text-muted credit"> Bhat Inc.</p>
    </div>
</div>

{% endblock %}