{% extends 'vampire/base.html' %}
{% load bootstrap3 %}
{% block content %}
{% include 'vampire/not_logged_in_navbar.html' %}

<div id="wrap">
    <div class = "hospital-container">
        <div class="page-header">
            <h1>
                Hospital
            </h1>
        </div>

        <p class="lead">
            Wish to join the ranks of hospitals that access our world-class
            Blood Bank facilites?
        </p>

        <div class="login-register-container">
            <button type="button"
                    class="btn btn-info register-btn"
                    onclick="location.href='{% url 'hospital_register' %}'">
                Register a Hospital {% bootstrap_icon "heart" %}
            </button>
        </div>
    </div>


    <div class = "hospital-container">
        <div class="page-header">
            <h1>
                Donor
            </h1>
        </div>

        <p class="lead">
            Want to become a registered donor to gain access to our network of bloood banks to donate to?
        </p>

        <div class="login-register-container">
            <button type="button"
                    class="btn btn-success register-btn"
            onclick="location.href='{%url 'donor_register' %}'"> Register a Donor {% bootstrap_icon "user" %}</button>
        </div>
    </div>
</div>

{% include 'vampire/footer.html' %}

{% endblock %}
