{% extends 'vampire/base.html' %}
{% block content %}
{% load bootstrap3 %}
{% include 'vampire/not_logged_in_navbar.html' %}


<div id="wrap">
    <div class="page-header login-container">
        <h1>
            Hospital Login
        </h1>

        {%if invalid %}
        <div class="alert alert-danger">
            <p> Username or password incorrect.</p>
        </div>

        {%endif%}
        {% if next %}
            <form action="/hospital/login/?next={{next}}" method="POST" class="post-form">
        {%else%}
            <form action="/hospital/login/?next=/hospital/home" method="POST" class="post-form">
                
        {% endif %}
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "log-in" %} Login
                </button>
                {% endbuttons %}
            </form>
    </div>
</div>
<div id="footer">
    <div class="container">
        <p class="text-muted credit"> Bhat Inc.</p>
    </div>
</div>

{% endblock %}