{% extends 'vampire/base.html' %}
{% block content %}
{%include 'vampire/logged_in_hospital_navbar.html' %}
<div id="wrap">
    <div class="login-container">
        <h1 class="page-header">
            {{ request.session.hospital_name }}'s Home
        </h1>

        <h4 style="margin-top: 50px"> Blood Requests </h4>

        <table class="table">
            <tr>
                <th> Status </th>
                <th> Blood type </th>
                <th> Date </th>
            </tr>
            {%  for blood_request in blood_requests %}
            <tr>

            </tr>
            {% endfor %}
        </table>
    </div>

</div>

{% include 'vampire/footer.html' %}

{% endblock %}