{% extends 'vampire/base.html' %}
{% block content %}
{%include 'vampire/logged_in_hospital_navbar.html' %}
<div id="wrap">
    <div class="page-header login-container">
        <h1>
            {{ request.session.hospital_name }}'s Home
        </h1>
        <h4> Requests </h4>

        <table class="table">
            <tr>
                <th> Status </th>
                <th> Blood type </th>
                <th> Date </th>
            </tr>
            {%  for blood_request in blood_requests   
            <tr>

            </tr>
            %}
        </table>
        <button class="btn btn-primary"> Make blood request </button>   
    </div>

</div>

{% include 'vampire/footer.html' %}

{% endblock %}